.sidebar{
    position: fixed;
    left: 0;
    top: 0;

    width: 25%;
    height: 100vh;

    background: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item{
    color: #e9e9e9;
    background-color:#198754;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    font-family: inclusive-sans, -apple-system, BlinkMacSystemFont, sans-serif;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    border-radius: 20px;

    transition: background 0.2s;
}

.menu-item:hover{
    background: #07552b;
    color: #e9e9e9;
}

.menu-item:active{
    border: none;
}

.logout,
.excluir-conta{
    border: none;
    color: #e9e9e9;
    font-size: 18px;
    justify-content: center;
    font-family: inclusive-sans, -apple-system, BlinkMacSystemFont, sans-serif;

    padding: 10px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: background 0.2s;}

.logout{
    background: #212529;
}

.excluir-conta{
    background: #bd0003;
}

.logout:hover{  
    background: #805f00;
}

.excluir-conta:hover{  
    background: #7a0001;
}

.conteudo{
    margin-left: 25%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:1024px){

    .sidebar{
        display:none;
    }

    .aviso-mobile{
        display:flex;
        height:100vh;
        align-items:center;
        justify-content:center;
        text-align:center;
    }

    .aviso-box{
        background:#d3d3d3;
        padding:30px;
        border-radius:10px;
    }

}